body,
html {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(215, 110, 65);
}

.Game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.Game button {
    height: 100px;
    font-size: 3rem;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    border: 4px solid black;
}

.Title {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 24px;
    color: white;
    -webkit-text-stroke: 3px rgb(255, 106, 0);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}